#section1{
    margin: 5%;
}
h1, h2, h3{
    color: #222629 ;
}

.card{
    margin-bottom: 2%;
    text-align: center;
}
#view-table  {
    margin-top: 5%;
    margin-right: 2%;
    width: 100%;
    overflow: auto;
    max-height: min-content;
  }
  .mat-header-row{
      text-align: center;
  }