    <div class="row">
        
    <div class="col-md-3 ">
        <app-admin-dashboard></app-admin-dashboard>        
    </div>
    <div class="col-md-8  " d-flex justify-content-center text-center >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id  ="view-table">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Menu  Name </th>
                <td mat-cell *matCellDef="let element"> {{element.menuName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Menu Link </th>
                <td mat-cell *matCellDef="let element"> {{element.menuLink}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> <a routerLink =  "/add-menu/{{element.menuId}}" >
                        <mat-icon>edit</mat-icon>
                    </a>  <a (click)="deleteMenuById(element)">
                        <mat-icon>delete</mat-icon>
                    </a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="'25'" [pageSizeOptions]="[5, 10, 25]" 
        showFirstLastButtons>
        </mat-paginator>
    </div>
    <div class="col-md-1"></div>
</div>
