<div class="row">
  <div class="col-md-3 ">
    <app-admin-dashboard ></app-admin-dashboard>
  </div>
  <div class="col-md-6  " d-flex justify-content-center text-center>
    <mat-card class="my-card mat-elevation-z8">
      <mat-card-content>
        <h1 *ngIf = "!isDisabled; else elseBlock">Add Project</h1> 
        <ng-template #elseBlock>
          <h1>Update Menu</h1>
        </ng-template>
    <form [formGroup]="addProjectForm" (ngSubmit)="addProject()">
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Project Name</mat-label>
        <input  matInput   formControlName="projectName" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Project Description</mat-label>
          
        <input  matInput   formControlName="projectDescription">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Project Language</mat-label>
          
        <input matInput  formControlName="projectLanguage">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Project Link</mat-label>
          
          <input matInput  name="menuName"  formControlName="projectLink" >
      </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Project Tool</mat-label>
        <input   matInput   formControlName="projectTool">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Project Image</mat-label>
          <br>
        <input  matInput type  =  "text"  formControlName="projectImagePath">
        </mat-form-field>
      </div>
      <button mat-raised-button   type="submit" [disabled] =  "isDisabled">Submit</button>
      <button mat-raised-button   type="submit" [disabled] =  "!isDisabled">Update</button>
    </form>
    </mat-card-content>
    </mat-card>
  </div>
  <div class  =  "col-md-3"></div>
  </div>
