<mat-nav-list>
    <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
         <span class="nav-caption">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
         <span class="nav-caption">My Work</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <span class="nav-caption">About</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <span class="nav-caption">Contact</span>
        </a>
        <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
            <span><mat-icon>login</mat-icon></span>
            </a>
  </mat-nav-list>